@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(145, 217, 89, 0.8);
  color: #222;
  overflow-x: hidden;
  margin: 0;
  perspective: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  transform-origin: top left;
  transition: transform 0.5s linear;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, rgba(145, 217, 89, 0.8), rgba(41, 77, 153, 0.8));
  border-radius: 50%;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

#open,
#close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

button:focus {
  outline: none;
}

#open:active {
  transform: scale(0.9);
}

#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

#open {
  left: 60%;
}

.content {
  min-height: 100%;
}

.card {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 30rem;
  padding: 0rem 2rem;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.top {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgc-circle {
  position: relative;
  width: 15rem;
  background: linear-gradient(to right, rgba(145, 217, 89, 0.8), rgba(41, 77, 153, 0.8));
  height: 15rem;
  border-radius: 50%;
}

img {
  position: absolute;
  width: 18rem;
  transition: all 0.75s ease-out;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 35px; */
}

.mid h1 {
  font-size: 2.5rem;
  margin-top: 0px;
  transition: all 0.75s ease-out;
  text-align: center;
}

.mid p {
  color: #333;
  line-height: 1.5rem;
  font-family: Lato;
  text-align: center;
  transition: all 0.75s ease-out;
  text-transform: uppercase;
}

.mid ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: all 0.75s ease-out;
}

.mid li {
  font-family: Lato;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 5px 25px;
  border-radius: 30px;
  font-size: 0.8rem;
  margin: 0 5px;
  font-weight: 600;
  color: #555;
  transition: background-color color 0.2s;
}

.mid li:hover {
  color: white;
  background-color: #eb570a;
  cursor: pointer;
}

.bot {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bot button {
  font-family: Lato;
  letter-spacing: 0.1rem;
  padding: 1rem 0rem;
  background: rgba(41, 77, 153, 0.8);
  border: none;
  width: 80%;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}

.info {
  position: fixed;
  margin-top: 150px;
  font-weight: 600;
  bottom: -55px;
  left: 35px;
  margin: 25px;
  width: 100%;
  height: 25px;
  color: white;
  cursor: default;
}

.type {
  font-size: 32px;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  margin-left: 35px;
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  color: white;
  font-weight: 600;
  cursor: default;
}

nav ul li:hover {
  color: #eb570a;
}

nav ul li + li {
  margin-left: 25px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 50px;
  transform: translateX(-200%);
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.1s;
}

.type::first-letter {
  color: #eb570a;
}

@media (max-width: 480px) {
  .card {
    width: 20rem;
  }

  img {
    width: 12rem;
  }

  .bot button {
    margin-bottom: 15px;
  }

  .mid {
    padding: 25px;
  }

  .mid li {
    padding: 5px 20px;
    margin: 0 5px;
  }
}
